In [20]:
import pyodbc
import pandas as pd
import random

In [2]:
conn = pyodbc.connect('DRIVER={SQL Server Native Client 11.0};SERVER=localhost;DATABASE=logistica;Trusted_Connection=Yes')

In [3]:
cursor = conn.cursor()

In [26]:
#Criando valores aleatórios para popular a coluna nova criada no banco de dados com Randint e PyODBC

linhas = cursor.execute('SELECT count(1) FROM Pedidos').fetchone()
contagem = linhas[0]

for linha in range(1,contagem+1):
    cursor.execute(f'UPDATE Pedidos SET Valor_Pedido = {random.randint(100,50000)} WHERE pedidoID = {linha}')

cursor.commit()

cursor.close()

''' pedidos = cursor.execute('
for row in pedidos:
    print(row) '''

" pedidos = cursor.execute('\nfor row in pedidos:\n    print(row) "

In [30]:
# Adicionando ID de funcionário responsável pelo pedido

cursor = conn.cursor()
cursor.execute('ALTER TABLE Pedidos ADD FuncionarioID INT')
cursor.commit()

In [122]:
# Importando os nomes em um DF
df = pd.read_csv('Links/Files/ibge-mas-10000.csv')
df = df['nome'].head(contagem)

In [123]:
# Pegando os nomes do DF, colocando em uma lista e definindo os sobrenomes alvos para randomizar

nomes = [x for x in df]
sobrenomes = ['SILVA', 'TORRES', 'FAGUNDES', 'RIBEIRO', 'SOUZA', 'FERREIRA', 'OLIVEIRA', 'CONCEICAO', 'JACKSON', 'ALVES', 'CABRAL', 'PINTO', 'CALABREZ', 'BALLAOUT', 'RIVER']

In [124]:
# Desenvolvendo lógica para criar nomes fictícios

nome_sn = []

for i in range(len(nomes)):
    nome_sn.append(nomes[i] + ' ' + sobrenomes[random.randint(0,len(sobrenomes)-1)])

In [125]:
# Criando a coluna de emails a partir dos nomes, sobrenomes e a concatenação
Cargo = ['Motorista' for x in range(len(nome_sn))]

nome_s_espaco=[]
email = []

for num in range(len(nome_sn)):
    nome_s_espaco.append(nome_sn[num].replace(' ',''))

for num in range(len(nome_s_espaco)):
    email.append(nome_s_espaco[num]+'@EMAIL.COM')

In [180]:
# Randomizando o numero de telefone
numeros = ['0','1','2','3','4','5','6','7','8','9']
telefone = []

string_inicial = '3002' #simulando um ramal

for num in range(len(nome_sn)):
    string_final = numeros[random.randint(0, len(numeros)-1)]+numeros[random.randint(0, len(numeros)-1)]+numeros[random.randint(0, len(numeros)-1)]+numeros[random.randint(0, len(numeros)-1)]
    telefone.append(string_inicial + '-' + string_final)

In [193]:
# Transformando nossas colunas aleatórias em DF

colunas = ['Nome', 'Cargo', 'Email', 'Telefone']
dados = [nome_sn, Cargo, email, telefone]

novo_df = pd.DataFrame(data=dados)

In [194]:
novo_df = novo_df.T

In [195]:
novo_df.columns = colunas

In [205]:
novo_df['funcionarioID'] = novo_df.index

In [206]:
# Ordenando as colunas para que a ordem da tupla fique semelhante ao banco
novo_df = novo_df[['funcionarioID', 'Nome', 'Cargo', 'Email', 'Telefone']]

In [207]:
# Conversão do DF em uma lista de tuplas
tuplas = novo_df.itertuples(index=False)
tuplas = list(tuplas)

In [208]:
# Inserindo dados na tabela de Funcionarios

cursor.executemany('INSERT INTO Funcionarios (funcionarioID, nome, cargo, email, telefone) VALUES (?,?,?,?,?)',tuplas)
cursor.commit()

In [230]:
# Consulta Pedidos
contagem_pedidos = cursor.execute('SELECT count(1) FROM Pedidos').fetchone()

# Armazenar QTD de linhas da tabela numa variável
contagem = pedidos[0]


# Gerar códigos aleatórios de IDs de funcionários
codigoFunc = [random.randint(1,contagem+1) for x in range(contagem)]

In [237]:
# Carregar tabela com IDs aleatórios
for num in range(contagem):
    cursor.execute(f'UPDATE Pedidos SET funcionarioID = {codigoFunc[num]} WHERE pedidoID = {num}')
    cursor.commit()

In [ ]:
ItemID	PedidoID	ProdutoID	Quantidade	PrecoUnitario